# Virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite Database
backend/database.db

# Telegram Session Files
backend/admin_session*

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
